.album
    margin-top: 2.2rem
    .container
        .album-head
            position: relative
            .album-name
                background-color: $color-grey-light
                text-align: center
                width: 100%
                height: 6rem
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: .5rem
                
            .back-album
                position: absolute
                top: 0
                left: 0
