.page-header_home
    background-image: linear-gradient(rgba($color-primary, 0.4)), url("/assets/img/background-home.jpg")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    width: 100%
    height: 85vh
    color: white
