// General
.img-responsive
    width: 100%

// Visiblility
.is-hidden
    display: none

.is-mobile
    @media(min-width: $sm-grid)
        display: none

.is-hidden-on-mobile
    display: none
    @media(min-width: $sm-grid)
        display: block
        
.is-hidden-on-mobile-small
    display: none
    @media(min-width: $xs-grid)
        display: block

// Positioning and alignment
.is-uppercase
    text-transform: uppercase

.is-left-aligned
    text-align: left

.is-center-aligned
    text-align: center

.is-right-aligned
    text-align: right

.is-rotated
    transform: rotate(180deg)

.text-error
    color: red
    
.is-line
    margin: .5rem 0
    width: 100%
    height: 1px
    background-color: $color-grey

.is-clicked
    background-color: #3297FD
    border-inline: 1px #3297FD solid
    
.is-fade-in
    opacity: 0
    transform: translateY(50px)
    transition: all 500ms ease-out
    
.show
    opacity: 1
    transform: translateY(0)
    
.text-success
    color: $color-green
    font-size: .7rem
    line-height: .7rem

.is-bold
    font-weight: bold
