.btn
  padding: .2rem 1rem
  cursor: pointer
  transition: all 300ms


  &.btn-primary
    background-color: $color-primary-blue
    color: white

    &:hover
      background-color: $color-primary-blue-hover
      

  @media(min-width: $sm-grid)
    width: auto