.login
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    .container
        .forum
            margin: 0 auto
            width: 30rem
            max-width: 100%
            padding: 2rem
            background-color: blue

            .forum-item
                background-color: red
                margin: 0 auto

                .forum-input
                    width: 100%
                    border: none
                    font-size: 1.5rem
                    height: 2rem

                .forum-checkbox
                    height: 1rem

                    &:checked
                        background: light-green