#image-uploader
    .image-uploader_body
        display: flex
        flex-wrap: wrap
        justify-content: center
        .image-uploader_body-item
            margin: .5rem .2rem
            .body-item_image
                +background-image-cover()
                width: 7rem
                height: 7rem
                cursor: pointer
        
    .image-uploader_footer
        display: flex
        .add-to-album
            margin-left: auto
            button
                font-size: .8rem
