#image-uploader
    .image-uploader_body
        
        .image-uploader_no-images
            text-align: center
            color: $color-grey
            height: 30vh
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
        
        .image-uploader_body-item
            display: inline-block
            margin: .5rem .2rem
            width: calc(100% - .4rem)
            cursor: pointer
            position: relative
            @media(min-width: $xs-grid)
                width: calc(50% - .4rem)

            @media(min-width: $sm-grid)
                width: calc(25% - .4rem)

            @media(min-width: $md-grid)
                width: calc(12.5% - .4rem)

            .body-item_image
                height: calc(100% - 2px)
                width: calc(100% - 2px)
                padding-top: 75%
                +background-image-cover()
                margin: 1px
                position: relative
                z-index: 1
                
            .remove-picture
                position: absolute
                top: 1px
                right: 1px
                z-index: 60
                opacity: 1
                transition: all 200ms
                border-radius: 0
                @media(min-width: $md-grid)
                    opacity: 0
                
            &:hover
                background-color: $color-primary-blue
                
                .remove-picture
                    opacity: 1
        
    .image-uploader_footer
        display: flex
        .add-to-album
            margin-left: auto
            button
                font-size: .8rem
